{
	"plugins": [
		[
			"styled-components",
			{
				"ssr": true,
				"displayName": true,
				"preprocess": false
			}
		],
		[
			"module-resolver",
			{
				"root": ["./"],
				"alias": {
					"~": "./",
					"Image": "./public/images/",
					"Font": "./public/fonts"
				}
			}
		]
	],
	"presets": ["next/babel"]
}